/* 公共样式*/
body, html, ul, ol, li, dl, dt, dd, p, span, i, em, strong, b, h1, h2, h3, h4, h5, h6, form, img, input, textarea, select, figure, button {
    padding: 0;
    margin: 0; }
  
  body {
    font: 12px "微软雅黑","宋体","Arial Narrow";
    color: #333; }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal; }
  
  ul li, ol li {
    list-style: none; }
  
  a {
    text-decoration: none;
  }
  
  i, em {
    font-style: normal; }
  
  img {
    border: none;
    display: block; }
  
  .clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 1; }
  
  .main {
    width: 1226px;
    margin: 0 auto;
  }
  
  /* 公共样式 end */