.goodsInfo {
    width: 1226px;
    height: 600px;
    border: 1px solid #333;
    margin: 20px auto;
    display: flex;
    align-items: center;
  
    > .left {
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
          width: 400px;
          margin-left: 10px;
      }
    }
  
    > .right {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 420px;
      font-size: 30px;
  
      button {
        width: 200px;
        height: 50px;
        font-size: 30px;
        cursor: pointer;
      }
      a{
        text-decoration:none;
      }
    }
  }
  